<launch>

    <!-- Parameters to change -->
    <arg name="current_scenario"  default="anpl_mr_passive_rosbag" />
    <arg name="robot_name"        default="robot_b"/>
    <arg name="odometry_type"     default="odometry_external"/> <!-- odometry_icp_laser|odometry_external-->

    <!-- Parameters that not change -->
    <arg name="scenario_dir"      value="$(eval find(current_scenario))" />
    <arg name="config_files_dir"  value="$(arg scenario_dir)/config" />


    <!-- Putting the time back to real time-->
    <rosparam> /use_sim_time : false </rosparam>

    <param name="scenario_folder" value="$(arg scenario_dir)"/>

    <node pkg="odometry" type="$(arg odometry_type)" name="$(eval odometry_type + '_' + robot_name)" clear_params="true" output="screen">
        <rosparam command="load" file="$(arg config_files_dir)/gazebo_pioneer2.yaml" />
    </node>

</launch>

