<launch>

  <!-- Parameters and processes on the central machine-->
  <arg name="current_scenario"  default="anpl_passive_demo" />

  <arg name="scenario_dir"      default="$(eval find(current_scenario))" />
  <arg name="config_files_dir"  default="$(arg scenario_dir)/config_files" />

  <!-- For putting the time back to real time, set this param to false -->
  <rosparam> /use_sim_time : false </rosparam>

  <!-- Load robot params -->
  <group ns="Robot_A">
    <rosparam command="load" file="$(arg config_files_dir)/gazebo_robot_A.yaml" />
  </group>

  <group ns="Robot_B">
    <rosparam command="load" file="$(arg config_files_dir)/gazebo_robot_B.yaml" />
  </group>
  
  <param name="scenario_folder" value="$(arg scenario_dir)"/>

  <node pkg="logger" type="logger" name="logger" clear_params="true" output="screen">
    <rosparam command="load" file="$(arg config_files_dir)/logger.yaml" />
    <!-- Boost archive version used by ROS and Matlab -->
    <rosparam> ros_boost_archive_version: "serialization::archive 12" </rosparam> 
    <!-- ROS Kinetic v12 -->
    <rosparam> matlab_boost_archive_version: "serialization::archive 11" </rosparam> 
    <!-- Matlab 2017b v11 -->
  </node>

  <node pkg="da" type="da_icp_laser" name="da_laser" clear_params="true" output="screen">
		<rosparam command="load" file="$(arg config_files_dir)/da_laser_csm_icp.yaml" />
  </node>

  <node pkg="belief" type="belief_isam2" name="belief_isam2" clear_params="true" output="screen"> <!-- launch-prefix="xterm -e gdb -ex run [MinusMinus]args" -->
		<rosparam command="load" file="$(arg config_files_dir)/belief_isam2.yaml" />
  </node>

  <node pkg="mapper" type="map_laser_node" name="map_octomap_laser" clear_params="true" output="screen">
		<rosparam command="load" file="$(arg config_files_dir)/map_octomap_laser.yaml" />
  </node>

  <arg name="world_octomap" value="$(find action_generator)/worlds/willowgarage_center_21_0.bt" />
  <arg name="rviz_config" value="$(find action_generator)/config/planning_30Hz_2d.rviz" />
   

  <!-- GUI -->
  <include file="$(find action_generator)/launch/generate_actions_interactively.launch" >
    <arg name="map" default="$(arg world_octomap)"/>
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>

  </launch>
