<launch>
    
  <!-- Parameters to change each time-->
  <arg name="current_scenario"  default="anpl_interactive_demo" />
  
  <arg name="scenario_dir"      default="$(eval find(current_scenario))" />
  <arg name="config_files_dir"  default="$(arg scenario_dir)/config_files" />
  <arg name="robot_name"        default="Robot_D" />
  <arg name="robot_ID"          default="D"/>
  <arg name="pioneer_num"       default="pioneer4" />
  <arg name="odometry_type"     default="odometry_external"/> <!-- odometry_icp_laser|odometry_external-->

  <!-- Putting the time back to real time-->
  <rosparam> /use_sim_time : true </rosparam>
  <!-- <param name="scenario_folder" value="$(arg scenario_dir)/$(arg current_scenario)"/> -->
  <param name="scenario_folder" value="$(arg scenario_dir)"/>

  <node pkg="odometry" type="$(arg odometry_type)" name="$(arg robot_name)" clear_params="true" output="screen" > <!-- launch-prefix="xterm -e gdb -ex run [MinusMinus]args" -->
    <rosparam command="load" file="$(arg config_files_dir)/gazebo_robot_$(arg robot_ID).yaml" />
  </node>

  <group ns="$(arg robot_name)">
    <node pkg="state_machine"  type="state_machine_default_node" name="state_machine_default"  clear_params="true" output="screen">
      <rosparam command="load" file="$(arg config_files_dir)/state_machine_default.yaml" />
      <param name="robot_id"   value="$(arg robot_ID)"/>
      <param name="robot_name" value="$(arg robot_name)"/>
    <!-- Load robot goals -->
      <rosparam command="load" file="$(arg config_files_dir)/gazebo_Robot_$(arg robot_ID)_goals.yaml" />
  </node>

  <!-- start in GDB -->
  <!--node pkg="collision_detection_node" type="collosion_detection_octomap" name="$(arg robot_name)_collision_detector" clear_params="true" output="screen" launch-prefix="xterm -e gdb -ex run [MinusMinus]args" -->
  <node pkg="collision_detection" type="collosion_detection_octomap" name="collision_detector" clear_params="true" output="screen">
    <rosparam command="load" file="$(arg config_files_dir)/collision_detector_octomap_gazebo_$(arg robot_ID).yaml" />
  </node>

</group>


  <!-- Create static transformation between the laser frame id to the robot pose for laser drawing in rviz -->
  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_laser_link" args="0.27 -0.03 0.13 0 0 0 1 $(arg pioneer_num)/base_link $(arg pioneer_num)/hokuyo_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_base_link" args="0.0 0.0 0 0 0 0 1 $(arg robot_name) $(arg pioneer_num)/odom 10" />

  </launch>
